<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CLUBS</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="icon" href="https://i.postimg.cc/br1H7MKF/favicon-2.png"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kodchasan:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/hmpg_style.css"></link>
        
        <!-- Header footer -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" Crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="CSS/header.css"></link>
        <link rel="stylesheet" href="CSS/footer.css"></link>
        <link rel="stylesheet" href="CSS/clubs.css"></link>
        <!---->
    </head>

    <body>
        <div class="club_header">
            <%- include("header") -%> <!-- INCLUDING HEADER -->
        </div>
        
        <form class="clubcontainer" action="/clubs" method="post">
            <div class="club_headline1">STC CLUBS OF IIT PATNA</div>
             
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/njackLogo.jpg"></img>
                <div class="details_left">

                    <div class="f1"><p class="left">NJACK</p>

                    <a href="https://www.instagram.com/njackiitp" class="instagram-icon">
                        <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                        </i>
                    </a>
                    <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                        <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                        </i>
                    </a>
                    <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                        <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                        </i>
                    </a>
                    </div>
                    <p class="left_description">As the Computer Science Club of IIT Patna,
                         NJACK aims at improving computer technology<br> and coding culture among
                          the student fraternity of IIT Patna by conducting several workshops,
                           events and competitions.
                    </p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f2">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/financeclub.iitp/" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                          </i>
                        </a>
                    </div>
                    <p class="right_spark">FINANCE CLUB</p>
                </div>
                  <p class="right_description">The Finance Club at IIT Patna
                     is rapidly growing and emphasizes consulting, investing, marketing,
                      and product management. With a focus on winning competitions, creating 
                      opportunities, and skill-building, the club aims to establish a lasting 
                      finance legacy and become a top student-run club in India.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/FinanceClubIITPLogo.webp"></img>
            </div>   
             
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/APCIITPatnalogo.png"></img>
                <div class="details_left">
                    <div class="f1"><p class="leftlong">ASTRONOMY & PARTICLE CLUB</p>
                        <a href="https://www.instagram.com/apclub.iitp" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 9%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">Astronomy and Particle Physics (AP) Club is a 
                        team of enthusiastic people who share a common goal of exploring, studying,
                         and experimenting with a wide variety of Astronomy and Particle Physics 
                         related topics, facts, and new discoveries. We have been trying to make people
                          aware of scintillating stuff right from the nano-level world to the vastness of the cosmos!</p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f2">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/sparkonics.iitp/" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        </div>

                        <p class="right_spark">SPARKONICS</p>

                    </div>
                  <p class="right_description">The Sparkonics Club of IIT Patna is a dynamic electrical 
                    engineering community that promotes innovation and skill development. 
                    Through workshops, projects, and practical activities, the club provides 
                    a platform for students to explore various aspects of electrical technology 
                    and enhance their knowledge and expertise.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/sparkonicsLogo.jpg"></img>
            </div> 
          
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/TinkersLogo.webp"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">TINKERER'S LAB</p>
                        <a href="https://www.instagram.com/tinkerers_lab_iitp" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 9%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>
                   
                   
                    <p class="left_description">
                          Tinkerer's Lab is the platform for innovators and idea holders who are provided with the opportunity
                          to convert their creative ideas into engineering products. The students go through an exciting practical
                          experience and spend hours tinkering without any barriers. Advanced technical platforms and a plethora of 
                          practical projects are the key aspects of this lab. An early handson approach with different technical 
                          fields like electronics, embedded systems, communications are made accessible to the students. The club
                          also organizes workshops and technical events regularly.
                    </p>
                    <!-- <p class="left_description">Tinkerer's Club is the platform for innovators and idea holders 
                        who are provided with the opportunity <br>to convert their creative ideas into engineering products.
                         The students go through an exciting practical <br>experience and spend hours tinkering 
                         without any barriers.</p> -->
                </div>
            </div>
            
            <div class="container_right">
                <div class="details_right">
                    <div class="f2">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/designclub.iitp" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>

                            <p class="right_spark">MOODBOARD</p></div>

                  <p class="right_description">MoodBoard, the Design Club at IIT Patna,
                     cultivates a vibrant design culture through enlightening sessions 
                     and workshops. We provide a supportive space for beginners to explore 
                     visual design, product design, and UX design, celebrating creativity and innovation.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/MoodBoard.jpg"></img>
            </div> 

            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/ACElogo.webp"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">ACE CLUB</p>
                        <a href="https://www.instagram.com/the_aceclub" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">ACE (Association of Civil Engineers)
                        Run and administered by the Civil and Environmental
                        engineering department, ACE is the club of activities and
                        regularly organizes several of them. ACE tries to build a healthy
                        environment for faculty-student interaction, our vitality ranges
                        from ‘Neev’, the freshers’ welcome to Civil cricket League; From
                        celebrating Teachers’ Day to bidding a farewell to seniors and
                        much more. With an active involvement of Faculty members we
                        here at ACE are achieving all that we need to be in the growing
                        stage of the department and yet we strive for more.</p>
                </div>
            </div>
            
            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>
                        <p class="right">RNA CLUB</p>
                    </div>
                  <p class="right_description">RnA or Robotics and Aviation Club of
                     IIT Patna is a newly formed club that focuses on drones, MAVs (Micro air Vehicles),
                      and aviation robotics. Here in RnA club, we all are family without any partiality.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/RnaLogo.webp"></img>
            </div>   
            
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/ChESSxLogo.webp"></img>
                <div class="details_left">

                    <div class="f1"><p class="left">ChESSx</p>

                        <a href="https://www.instagram.com/chessx_iitp" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">ChessX is known as the society of students of 
                        the Department of Chemical and Biochemical Engineering at IIT Patna. 
                        This society aims to provide and promote interaction within the department
                         and implement academic, social and other programs of interest to its members. 
                         Chemical engineering is a highly open-ended and flexible area of study with branches
                         extending to economics, biotechnology, electronics, policy making and much more.
                          Our society is aimed at providing the right support to produce the best chemical 
                          engineering graduates of tomorrow.</p>
                </div>
            </div>
            
            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/mates__iitp" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>

                        <p class="right">MATES</p>

                    </div>
                  <p class="right_description">MaTES is a collaborative effort by students and faculty
                     at IIT Patna to cultivate curiosity and interest in metallurgy and materials.
                      Through engaging events, workshops, and guest lectures, they aim to enhance 
                      creativity, ethics, and societal awareness related to materials.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/Mateslogo.webp"></img>
            </div>  
            
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/phoenix.png"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">PHOENIX CLUB</p>
                        <a href="https://www.instagram.com/p/Bv6HwKXlPUh/?hl=en" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">Phoenix
                        Team Phoenix IIT Patna is the official robotics contingent
                         of IIT Patna in ABU Robocon. We seek passionate individuals and offer 
                         diverse learning opportunities in robotics through workshops, hackathons,
                          and mentorship programs, including participation in the MathWorks Simulation contest.</p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/scme_iitp/" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>

                        <p class="right">SCME</p>

                    </div>
                  <p class="right_description">Student Council of Mechanical Engineers (SCME)
                    Mechanical Engineering discipline-related activities are
                    overseen by the SCME club in IIT Patna. Since its inception, SCME
                    has been conducting events, lectures, and workshops around
                    the year for the benefit of mechanical engineering students.
                    Many projects on Mechanical Engineering, Robotics, and
                    Automobiles have been developed by the students of the club.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/SCMELogo.webp"></img>
            </div>  
          <!-- /**************************************************************************************************/ -->
         <div class="club_headline2">HOSCA CLUBS OF IIT PATNA</div>
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/animeClubLogo.jpg"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">ANIME CLUB</p>
                        <a href="https://www.instagram.com/animeclub_iitp" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">
                        Anime Club at IIT Patna is a place 
                        where students get to rediscover the joy of animation.
                         It is a place where anime lovers immerse themselves in
                          imaginative worlds, connect with relatable characters, 
                          
                          celebrate anime culture through discussions, screenings,
                           and cosplay, and let their imagination soar in the vibrant realm of animated wonders.</p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/aria_iitp/" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>

                        <p class="right">ARIA</p>

                    </div>
                  <p class="right_description">The music club: Aria is IIT Patna's music society where like-minded people come together
                    and express themselves through music. Regular jamming sessions and events and
                    competitions keep the club alive all year long.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/ariaLogo.jpg"></img>
            </div>   
           
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/exsousiaLogo.png"></img>
                <div class="details_left">

                    <div class="f1"><p class="left">EXOUSIA</p>

                        <a href="https://www.instagram.com/exousia_iitp" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 10%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>
                    <p class="left_description">The dance club: Students who are dance enthusiasts and love to make crowds feel the
                        beats with their moves constitute the dance club, Exousia. The club members are
                        enthusiastic performers and actively participate in several events inside as well as
                        outside the campus.
                    </p>
                </div>
            </div>
               
            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                         <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/hoot.iitp/" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                         </div>

                        <p class="right">HOOT</p>

                    </div>
                  <p class="right_description">HOOT, the House of Oratory Talents at IIT Patna,
                     is the official speaking arts society. It provides a dynamic platform for 
                     refining public speaking skills, engaging in debates, extempore sessions, and 
                     storytelling. Hoot cultivates confident speakers who inspire change.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/hootLogo.jpg"></img>
            </div>  
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/vincetrokeLogo.jpg"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">VINCETROKE</p>

                        <a href="https://www.instagram.com/vincetroke.iitp/" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 10%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>
                    <p class="left_description">
                        Vincetroke at IIT Patna fosters a vibrant fine arts section.
                         Talented artists conduct inclusive workshops throughout the year,
                          offering opportunities to explore and refine skills in various art 
                          forms. The students' awe-inspiring talents are showcased through
                           exquisite sketches and paintings, reflecting their deep love for the art.
                    </p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/pixxel_iitp/" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>
                        <p class="right">PIXXEL</p>

                    </div>
                  <p class="right_description">PiXXeL is the photography and filmmaking club of IIT Patna. It is a fast-developing club
                    with a well-structured and established team dedicated to exploring new methods of
                    photography and videography, along with teaching these skills to new interested
                    students. PiXXeL plays an important role in capturing moments in almost all the events
                    that take place at IIT Patna</p>
                </div>
                <img class="img_right" src="/images/clubsImages/PixxelLogo.png"></img>
            </div> 
            
            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/yavanikaLogo.png"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">YAVANIKA</p>

                        <a href="https://www.instagram.com/yavanika_iitp/" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 10%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>
                    <p class="left_description">The dramatics club: Yavanika is the dramatics club of IIT Patna which engages interested
                        students in different forms of drama and acting like mono acts, nukkads, stage play, mimes,
                        etc. It is one of the oldest and well-developed clubs of the Institute.
                    </p>
                </div>
            </div>
            
            <div class="container_right">
                <div class="details_right">
                    <div class="f3">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/syahi.iitp/" class="instagram-icon2">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i>
                        </a>
                        </div>
                        <p class="right">SYAHI</p>

                    </div>
                  <p class="right_description">Syahi is the literary society at IIT Patna,
                     where the power of literature and poetry is celebrated. Engage in discussions,
                      recitals, and creative writing sessions that ignite the imagination. 
                      Let's weave a symphony of literary brilliance together at Syahi.</p>
                </div>
                <img class="img_right" src="/images/clubsImages/syahiLogo.jpg"></img>
            </div> 

            <div class="container_left">
                <img class="img_left" src="/images/clubsImages/quizClubLogo.jpg"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">QUIZ CLUB</p>
                        <a href="https://www.instagram.com/qc_iitp/" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 10%;"></i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>
                    <p class="left_description">The quiz club is one of the most active clubs of IIT Patna. The quiz club members meet over
                        the weekends for brainstorming sessions and organize events and fun quizzes which
                        showcase their enthusiasm for learning through the club and interactions.
                    </p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f2">
                        <div class="icons">
                        <a href="https://www.instagram.com/njackiitp" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/njackiitp" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/hexachrome_official/" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 9%;">
                            </i></a>
                        </div>
                            <p class="right_spark">HEXACHROME CLUB</p>
                        </div>
                  <p class="right_description">
                    Hexachrome, the Puzzle-solving Club at IIT Patna, offers a welcoming 
                    environment to explore diverse puzzles, stimulating cognitive development 
                    and critical thinking. Students join the community to relieve stress and 
                    embark on a journey of mind-bending challenges and endless curiosity</p>
                </div>
                <img class="img_right" src="/images/clubsImages/hexa.webp"></img>
            </div> 
     </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="JS/header.js"></script>
    </body>
<div class="cfooter">
    <%- include("footer") -%> <!-- INCLUDING FOOTER-->
</div>
</html>
