<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FESTS</title>
        
        <link rel="icon" href="https://i.postimg.cc/br1H7MKF/favicon-2.png"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kodchasan:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/hmpg_style.css"></link>
        
        <!-- Header footer -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <link rel="stylesheet" href="CSS/header.css"></link>
        <link rel="stylesheet" href="CSS/footer.css"></link>
        <link rel="stylesheet" href="CSS/clubs.css"></link>
        <!---->
    </head>

    <body>
        <div class="club_header">
            <%- include("header") -%> <!-- INCLUDING HEADER -->
        </div>
        
        <form class="clubcontainer" action="/fests" method="post">
            <div class="club_headline1">FESTS AT IIT PATNA</div>
             
            <div class="container_left">
                <img class="img_left" src="/images/festsImages/Anwesha.jpeg"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">ANWESHA</p>
                    <a href="https://www.instagram.com/anwesha.iitp" class="instagram-icon">
                        <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                        </i>
                    </a>
                    <a href="https://www.facebook.com/anwesha.iitpatna/" class="facebook-icon">
                        <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                        </i>
                    </a>
                    <a href="https://www.linkedin.com/company/anweshaiitpatna/" class="linkedin-icon">
                        <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                        </i>
                    </a>
                    </div>
                    <p class="left_description">Anwesha is a 3-day cultural techno-management extravaganza
                         organized every year in spring at IIT Patna. It involves students who work with 
                         interest and promote creativity through activities, events, and pronites, 
                         thus making it a quest for everyone to experience and enjoy!
                    </p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f4">
                        <div class="icons">
                        <a href="https://www.linkedin.com/company/celesta-iit-patna" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.facebook.com/CelestaIITP/" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/celestaiitp_official/" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                          </i>
                        </a>
                        </div>
                    <p class="right">CELESTA</p>
                </div>
                  <p class="right_description">Celesta is the techno-management fest of IIT Patna. 
                    Every year Celesta is a host to a plethora of events and competitions with active
                     participation from students all over India, especially from the North-East.</p>
                </div>
                <img class="img_right" src="/images/festsImages/celesta.jpeg"></img>
            </div>   
             
            <div class="container_left">
                <img class="img_left" src="/images/festsImages/Infinito.jpeg"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">INFINTO</p>
                        <a href="https://www.instagram.com/infinito_iitp" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 9%;">
                            </i>
                        </a>
                        <a href="https://www.facebook.com/InfinitoIITPatna/" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/infinito_iitp/" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">Infinito is the annual sports fest of IIT Patna.
                         The three days of the fun-filled and thrilling fest witness huge participation
                          from across the country. The sports infrastructure of IIT Patna serves as 
                          a great host for sports enthusiasts.</p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f4">
                        <div class="icons">
                        <a href="https://www.linkedin.com/company/tedxiitpatna/" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.facebook.com/tedxiitpatna/" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/tedxiitpatna/" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        </div>
                        <p class="right">TEDx</p>
                    </div>
                  <p class="right_description">TEDx IIT Patna is an independently organized 
                    TED event at the Institute. It is an attempt to spark deep discussions and 
                    connections between the student communities. TEDx IIT Patna gives the students 
                    of IIT Patna and nearby colleges an opportunity to be a part of interesting 
                    and enlightening talks by great personalities.</p>
                </div>
                <img class="img_right" src="/images/festsImages/Tedx.jpeg"></img>
            </div> 
          
            <div class="container_left">
                <img class="img_left" src="/images/festsImages/Nebula.jpeg"></img>
                <div class="details_left">
                    <div class="f1"><p class="left">NEBULA</p>
                        <a href="https://www.iitp.ac.in/gymkhana/" class="instagram-icon">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 14%; margin-top: 9%;"></i>
                        </a>
                        <a href="https://www.iitp.ac.in/gymkhana/" class="facebook-icon">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.iitp.ac.in/gymkhana/" class="linkedin-icon">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                    </div>

                    <p class="left_description">Nebula is the first big event for newcomer 
                        students to IIT Patna. It is a freshers' party organized by HoSCA for
                         fun and merriment specifically planned by keeping the welfare of the 
                         fresher students in mind.</p>
                </div>
            </div>

            <div class="container_right">
                <div class="details_right">
                    <div class="f4">
                        <div class="icons">
                        <a href="https://www.iitp.ac.in/gymkhana/" class="linkedin-icon1">
                            <i class="fab fa-linkedin" style="font-size:22px; color:rgb(238, 231, 231);     margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.iitp.ac.in/gymkhana/" class="facebook-icon1">
                            <i class="fab fa-facebook" style="font-size:22px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        <a href="https://www.iitp.ac.in/gymkhana/" class="instagram-icon1">
                            <i class="fab fa-instagram" style="font-size:17px; color:rgb(238, 231, 231); margin-left: 13%; margin-top: 8%;">
                            </i>
                        </a>
                        </div>
                        <p class="right">REVERBERENCE</p>
                    </div>
                  <p class="right_description">Reverberance is the 3-day Diwali fest of 
                    IIT Patna, making the festival one of the most awaited one for the students. 
                    It is marked with numerous fun-filled activities, events and musical nights 
                    that bring about a sense of merriment and cheerfulness. Students eagerly participate 
                    in these events to mark and celebrate the spirit of the joyous festival.</p>
                </div>
                <img class="img_right" src="/images/festsImages/Reverberence.jpg"></img>
            </div> 
            
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="JS/header.js"></script>
    </body>
<div class="cfooter">
    <%- include("footer") -%> <!-- INCLUDING FOOTER-->
</div>