<!-- HOW TO INCLUDE FOOTER
inside html after body closing tag </body>
    
also inlude css style link for header = CSS/footer.css
-->

<footer>
    <div class="contact">
        <h4 class="heading">CONTACT  US</h4>
        <a><p>GMAIL</p></a>
        <a><p>INSTAGRAM</p></a>
        <a><p>LINKEDIN</p></a>
        <a><p>TWITTER</p></a>
    </div>
    <div class="important">
        <h4  class="heading">IMPORTANT LINKS</h4>
        <a href="http://172.16.1.230/student/login2.asp"><p>STUDENT'S PORTAL</p></a>
        <a href="https://www.iitp.ac.in/"><p>IIT PATNA WEBSITE</p></a>
        <a href=""><p>AIS PORTAL</p></a>
        <a><p class="x">iiiiiiiiiii</p></p></a>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.08098941777!2d84.84860497380211!3d25.535679017910798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed577f6954a4ab%3A0x6ce8f1b9fc2aa02a!2sIndian%20Institute%20of%20Technology%2C%20Patna%20(IIT%20Patna)!5e0!3m2!1sen!2sin!4v1686680707819!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="rights">
        <p>All copyrights are reserved</p>
    </div>
</footer>
</html>

