<!-- HOW TO INCLUDE FOOTER
inside html after body closing tag </body>
    
also inlude css style link for header = CSS/footer.css
-->

<footer>
    <div class="contact">
        <h4 class="heading">CONTACT  US</h4>
        <a><p>GMAIL</p></a>
        <a><p>INSTAGRAM</p></a>
        <a><p>LINKEDIN</p></a>
        <a><p>TWITTER</p></a>
    </div>
    <div class="important">
        <h4  class="heading">IMPORTANT LINKS</h4>
        <a><p>STUDENT'S PORTAL</p></a>
        <a><p>IIT PATNA WEBSITE</p></a>
        <a><p>AIS PORTAL</p></a>
        <a><p class="x">iiiiiiiiiii</p></p></a>
    </div>
    <div class="map">
    </div>
    <div class="rights">
        <p>All copyrights are reserved</p>
    </div>
</footer>
</html>

