<!-- HOW TO INCLUDE HEADER
inside html after body starting tag <body> 

also inlude css style link for header = CSS/header.css
-->

<div class="Header">
    <a href="" class="logo"><img src="https://i.postimg.cc/br1H7MKF/favicon-2.png" height=20px></img>      |   STUDENT'S POLARIS</a>
    <div class="hdrght">
        <form action="/header" method="post">
            <a href="#home"><button type="submit" name="header" value="1">HOME</button></a>
            <a href="#about"><button type="submit" name="header" value="2">ABOUT</button></a>
            <a href="#about"><button type="submit" name="header" value="3">LOGIN / SIGN UP</button></a>
        </form>
    </div>
</div>
