<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Student's Polaris</title>
            <link rel="icon" href="https://i.postimg.cc/br1H7MKF/favicon-2.png"></link>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kodchasan:wght@200&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="CSS/hmpg_style.css"></link>
            
            <!-- Header footer -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="CSS/header.css"></link>
            <link rel="stylesheet" href="CSS/footer.css"></link>
            <!---->
        </head>
        <body>
            <div class="section1">
                <%- include("header") -%> <!-- INCLUDING HEADER -->
                <div class="title">
                    <div class="title2">
                        <div class="title1">
                            <h3 style="margin-bottom: 0; font-size: 230%">STUDENT'S</h3>
                        </div>
                        <h1 style="margin-top: 0; padding-top: 20%; font-size: 818%">POLARIS</h1>
                    </div>
                </div>
            </div>
            
            <form class="section2" action="/" method="post">
                    <img class="image1" src="https://i.postimg.cc/CM9GFF7B/mortarboard.png"></img>
                    <p class="p1"><button type="submit" name="homeInput" value="1">ACADEMICS</button></p>
                    <img class="image2" src="https://i.postimg.cc/d3f4Fr1L/guitar.png"></img>
                    <p class="p2"><button type="submit" name="homeInput" value="2">CLUBS</button></p>
                    <img class="image1" src="https://i.postimg.cc/3Rcg07Hq/disc-jockey-2.png"></img>
                    <p class="p1"><button type="submit" name="homeInput" value="3">FESTS</button></p>
            </form>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script src="JS/header.js"></script>
            </body>
        
            <%- include("footer") -%> <!-- INCLUDING FOOTER-->