<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student's Polaris</title>
        <link rel="icon" href="https://i.postimg.cc/br1H7MKF/favicon-2.png"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kodchasan:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/hmpg_style.css"></link>
    </head>
    <body>
        <div class="section1">
            <div class="Header">
                <a href="" class="logo"><img src="https://i.postimg.cc/br1H7MKF/favicon-2.png" height=20px></img>      |   STUDENT'S POLARIS</a>
                <div class="hdrght">

                    <a href="#home">HOME</a>
                    <a href="#about">ABOUT</a>
                    <a href="#about">LOGIN / SIGN UP</a>

                </div>
            </div>
            <div class="title">
                <div class="title2">
                    <div class="title1">
                        <h3 style="margin-bottom: 0; font-size: 230%">STUDENT'S</h3>
                    </div>
                    <h1 style="margin-top: 0; padding-top: 20%; font-size: 818%">POLARIS</h1>
                </div>
            </div>
        </div>
        <hr>
        <div class="section2">
                <img class="image1" src="https://i.postimg.cc/CM9GFF7B/mortarboard.png"></img>
                <a href="" class="p1"><p>ACADEMICS</p></a>
                <img class="image2" src="https://i.postimg.cc/d3f4Fr1L/guitar.png"></img>
                <a href="" class="p2"><p>CLUBS</p></a>
                <img class="image1" src="https://i.postimg.cc/3Rcg07Hq/disc-jockey-2.png"></img>
                <a href="" class="p1"><p>FESTS</p></a>
        </div>
        <hr class="hr2"></hr>
        <div class="footer">
            <div class="contact">
                <h4 class="heading">CONTACT  US</h4>
                <a><p>GMAIL</p></a>
                <a><p>INSTAGRAM</p></a>
                <a><p>LINKEDIN</p></a>
                <a><p>TWITTER</p></a>
            </div>
            <div class="important">
                <h4  class="heading">IMPORTANT LINKS</h4>
                <a><p>STUDENT'S PORTAL</p></a>
                <a><p>IIT PATNA WEBSITE</p></a>
                <a><p>AIS PORTAL</p></a>
                <a><p class="x">iiiiiiiiiii</p></p></a>
            </div>
            <div class="map">
            </div>
            <div class="rights">
                <p>All rights are reserved</p>
            </div>
        </div>


    </body>
</html>
