<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&display=swap" rel="stylesheet">

    <title>Document</title>
    <link rel="stylesheet" href="CSS/year_style.css" />

    
</head>

<body>
    <div class = "section1">
     <%- include('header') -%></div>
        <!-- INCLUDING HEADER -->
    <div class="header1">

        <a href="logo" class="logo1">IN WHICH YEAR YOU ARE?</a>

   




    
        
            <table>
                <tr>
                    <td> <img src="images/fresh.jpeg" alt="image is not available" width="140px" height="140px" style="max-width:100%;"></td>
<td> <img src="images/soph.jpeg" alt="image is not available" width="140px" height="140px" style="max-width:100%;"></td>

                </tr>
                <tr>
                    <td><button type="submit" name="yearINPUT" value="1">FRESHMAN YEAR </button></td>


                    <td> <button type="submit" name="yearInput" value="2">SOPHOMORE YEAR </button></td>
                </tr>
                <tr>
                   <td> <img src="/images/junior.jpeg" alt="image is not available" width="140px" height="140px" style="max-width:100%;"></td>
<td> <img src="images/senior.jpeg" alt="image is not available" width="140px" height="140px" style="max-width:100%;"></td>

                </tr>
                <tr>
                    <td><button type="submit" name="yearINPUT" value="3">JUNIOR YEAR </button></td>
                    <td> <button type="submit" name="yearINPUT" value="4">SENIOR YEAR</button></td>
                </tr>
            </table>
          
        </div>
        <script src="JS/header.js"></script>
</body>

<link rel="stylesheet" href="CSS/header.css"></link>
        <link rel="stylesheet" href="CSS/footer.css"></link>
<div class="bfooter"><%- include('footer') -%></div>

 <!-- INCLUDING FOOTER-->
