<!DOCTYPE html>
<html>
<head>
  <title>Table-like Structure</title>
  <link rel="stylesheet" type="text/css" href="./CSS/sem1.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kodchasan:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="CSS/header.css"></link>
  <link rel="stylesheet" href="CSS/popupcard.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="CSS/footer.css"></link>
</head>
<body>
  <div class="sem2container_header">
    <%- include("header") %>
  </div>
  <div class="header-top">SEMESTER II</div>
  <div class="header-left">SUBJECTS</div>
  <div class="header-center">COURSE DETAILS</div>
  <table class="up">
    <tr class="row1">
      <th>COURSE CODE</th>
      <th>COURSE NAME</th>
      <th>CREDITS</th>
      <th>PROFESSOR</th>
    </tr>
    <tr>
      <td>CB102</td>
      <td>BIOLOGY</td>
      <td>3</td>
      <td><span class="professor-name" onclick="showPopupCard('Dr. Anoop Kumar Gupta')">Dr. Anoop Kumar Gupta</span></td>
    </tr>
    <tr>
      <td>CE102</td>
      <td>ENVIRONMENTAL STUDIES</td>
      <td>3</td>
      <td><span class="professor-name" onclick="showPopupCard('Dr. Subrata Hait')">Dr. Subrata Hait</span></td>
    </tr>
    <tr>
      <td>CH103</td>
      <td> INTRODUCTORY CHEMISTRY</td>
      <td>8</td>
      <td><span class="professor-name" onclick="showPopupCard('Dr. Neeladri Das')">Dr. Neeladri Das </span></td>
    </tr>
    <tr>
      <td>CH110</td>
      <td>CHEMISTRY LABORATORY</td>
      <td>3</td>
      <td><span class="professor-name" onclick="showPopupCard('Dr. Debabrata Seth')">Dr. Debabrata Seth</span></td>
    </tr>
    <tr>
      <td>CS102</td>
      <td>PROGRAMMING AND DATA STRUCTURES</td>
      <td>6</td>
      <td><span class="professor-name" onclick="showPopupCard('Dr. Sourav Kumar Dandapat')">Dr. Sourav Kumar Dandapat</span></td>
    </tr>
    <tr>
      <td>CS112</td>
      <td>PROGRAMMING AND DATA STRUCTURES</td>
      <td>3</td>
      <td><span class="professor-name" onclick="showPopupCard('Dr. Sourav Kumar Dandapat')">Dr. Sourav Kumar Dandapat</span></td>
    </tr>
    <tr>
        <td>EE102</td>
        <td>BASIC ELECTRONICS LABORATORY</td>
        <td>3</td>
        <td><span class="professor-name" onclick="showPopupCard('Prof. Preetam Kumar')">Prof. Preetam Kumar</span></td>
      </tr>
      <tr>
        <td>MA102</td>
        <td>MATHEMATICS-II</td>
        <td>8</td>
        <td><span class="professor-name" onclick="showPopupCard('Dr. Shailesh Kumar Tiwari')">Dr. Shailesh Kumar Tiwari</span></td>
      </tr>
      <tr>
        <td>ME102</td>
        <td>ENGINEERING MECHANICS</td>
        <td>8</td>
        <td><span class="professor-name" onclick="showPopupCard('Dr. Chiranjit Sarkar')">Dr. Chiranjit Sarkar</span></td>
      </tr>
  </table>
  <% if (typeof secondTableVisible !== 'undefined' && secondTableVisible) { %>
  <h2 class="header-center">COURSE MATERIALS</h2>
  <table class="down">
    <tr class="row1">
      <th>SUBJECTS</th>
      <th>NOTES AND PPTs</th>
      <th>PYQs</th>
      <th>BOOKS</th>
    </tr>
    <tr>
      <td>CB102</td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
    </tr>
    <tr>
      <td>CE102</td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
    </tr>
    <tr>
        <td>CH103</td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      </tr>
      <tr>
        <td>CH110</td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      </tr>
      <tr>
        <td>CS102</td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      </tr>
      <tr>
        <td>CS112</td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      </tr>
      <tr>
      <td>EE103</td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
    </tr>
    <tr>
        <td>MA102</td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      </tr>
      <tr>
        <td>ME102</td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
        <td><a href="path_to_file2.doc" class="download-link"><img class="file" src="/images/file.png" alt="file"></a></td>
      </tr>
  </table>
  <% } else { %>
    <div class="container">
      <div class="box">
        <p>LOGIN TO GET COURSE MATERIALS</p>
      </div>
    </div>
    <% } %>
  <!-- /*******************************PROF-DETAILS**************************************************// -->
  <div id="popup-card" class="popup-card">
    <div class="popup-content">
      <img src="" alt="Card Image">
      <span class="close-button">&times;</span>
      <!-- <h2 class="popup-heading">Professor Details</h2> -->
      <div class="popupcontainer">
      <p class="popup-text"><p class="popupbold">Name : </p><span id="professor-name"></span></p>
      <p class="popup-text"><p class="popupbold">Position :</p> <span id="professor-pos"></span></p>
      <p class="popup-text"><p class="popupbold">Email : </p><span id="professor-email"></span></p>
      <p class="popup-text"><p class="popupbold">Phone : </p><span id="professor-phone"></span></p>
      <p class="popup-text"><p class="popupbold">For More Information :</p> <span id="professor-details"> <div class="link">Visit</div></span></p>
    </div>
      <!-- Add more professor details here if needed -->
    </div>
  </div>
<!-- /***********************************************************************************/ -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="JS/header.js"></script>
  <!-- /*************************************************************************************/ -->
  <script src="JS/popup.js"></script>
<!-- /*********************************************************************************************/ -->
</body>
<div class="semfooter">
  <%- include("footer") -%>
 </div>