* {
    padding: -10px;
    margin: 0px;
}

* {
    background-color: #00041C;
}

.section1{
    height: 20%;
    background-color: #00041C;
    margin: -1%;
    padding-bottom: 15%;
    
}


 button
{
    font-family: 'Kodchasan';
    font-size:  100%;
    color: white;
    background-color: #040624;
    border: none;
    padding: 0px 0px;
    height: 0px;
    text-decoration: none;
    
    text-align: center;
   
}
 button:hover
{
    font-weight: bold;
    
    color: white;
}

.bfooter {
    background-color: black;
    background-size: cover;
    margin: -1%;
    
}

.x {
    color: black;
}

.header1 {
    text-decoration: none;
    background-color: black;
    text-align: center;
    padding: 7px;
    margin: 100px;

}

.header1 a.logo1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-style: none;
    text-decoration: none;
    font-family: 'Kodchasan';
    color: white;
    
    
    margin-left: 65px;
    
}
img {
    border: solid;
    border-radius: 100%;
    border-width: 5%;
    border-color: #0695C0;
    padding: 0;
    margin: 10px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 80px;
}

td {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 170px;
}

table {
    padding-left: 20%;
    padding-top: 0%;
}

@media screen and (max-width: 768px) {
    .header1 {
        text-decoration: none;
        background-color: black;
        text-align: center;

        font-size: 5px;
        width: 700px;
        padding-left: 0px;
        margin-top: 100px;
        margin-left: 80px;
    }

    .section1 {

        background-color: #040624;
        height: 500px;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    table {
        padding-left: 20%;
        padding-top: 0%;

        padding-left: 0px;
        margin-left: 5px;
        width: 830px;
        height: 915px;
    }

    img {
        border: solid;
        border-radius: 100%;
        border-width: 5%;
        border-color: #0695C0;
        padding: 0;
        margin: 10px;
        margin-top: 50px;
        margin-right: 100px;

        width: 220px;
        height: 220px;
        margin-left: 40px;
    }

    td {

        width: 400px;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 20px;

        padding-right: 40px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .header1 a.active {
        text-decoration: none;
        color: white;
        text-align: center;
        font-family: 'Kodchasan';
        font-size: 30px;
    }

    .header1 a.active:hover {
        font-weight: bolder;
        color: white;
    }

    .header1 a.logo1 {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        font-style: none;
        text-decoration: none;
        font-family: 'Kodchasan';
        color: white;


    }
}